<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cotosistemas.cordova.plugins"
    version="1.0.0">

    <name>VideoPlayer</name>
  
    <description>Android Plugins</description>
  
    <license></license>
  
    <keywords>cordova,plugins</keywords>
  
    <repo>https://github.com/cotosistemas/androidPlugins.git</repo>
    <issue>https://github.com/cotosistemas/androidPlugins/issues</issue>

    <asset src="www/videoplayer.js" target="js/videoplayer.js"/>

    <js-module src="www/videoplayer.js" name="VideoPlayer">
        <clobbers target="VideoPlayer" />
    </js-module>
  
    <engines>
      <engine name="cordova-android" version=">=6.1.0" />
    </engines>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.cotosistemas.cordova.plugins.VideoPlayer"/>
            </feature>
        </config-file>
		 <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.comrat.VideoPlayerActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:noHistory="true">
            </activity>
        </config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/VideoPlayer.java" target-dir="src/com/cotosistemas/cordova/plugins" />
		<source-file src="src/android/VideoPlayerActivity.java" target-dir="src/com/cotosistemas/cordova/plugins" />
		<source-file src="src/android/content_activity_test.xml" target-dir="res/layout"/>
    </platform>

</plugin>